NEXT_PUBLIC_SUPABASE_URL=https://lsroklojbuvxzjeocigo.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxzcm9rbG9qYnV2eHpqZW9jaWdvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDI2NjQ0NiwiZXhwIjoyMDc5ODQyNDQ2fQ.Rp1JoCEHtR2_6ZK6l1ex1xEudF3al3AanAVGFmHgT2M
NEXT_PUBLIC_BATTLE_MAPPING_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vQMVmFly1kJbdHuDtLSSfbR7uC4UU18k4dGyMAtp62z11hTu0syE2ceIig-LYdtv2EgcSly3wF_UmrZ/pubhtml